.container {
	width: 100%;
	max-width: 1280px;
	padding: 40px;
}

.card {
	width: 480px;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

.card h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}

.card p {
	line-height: 1.6;
}

.card span {
	color: #fff;
	background-color: #004fff;
}

span {
	height: 50px;
	padding: 5px;
}

/* 나열하기 */
span.inline {
	display: inline;
}

/* 블럭으로 나열하기 */
span.inline-block {
	display: inline-block;
}

/* 블럭으로 쌓기 */
span.block {
	display: block;
}

/* 삭제 */
span.none {
	display: none;
}