* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
}

form input {
    border: 1px solid #333333;
    cursor: pointer;
    font-size: 20px;
}

form input:hover {
    box-shadow: 1px 1px 2px #333;
}

form .clear {
    background-color: #2b4848;
    grid-column: span 3;
}

form .operator {
    background-color: orange;
}

form input[type='text'] {
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
}

form .dot {
    background-color: green;
}

form .result {
    grid-column: span 2;
}