.container {
    background-color: #c5bcc5;
    padding: 10px;
    margin: 30px;
}

img {
    margin-right: 10px;
}

.float-left {
    float: left
}

.float-right {
    float: right;
}

.clear {
    clear: both
}