.bg-img {
    width: 100%;
    height: 400px;
    /* background-image: url(./pexels-nextvoyage-1470405.jpg);
    background-position: center;
    background-size: contain; */
    background: #eee url(./pexels-nextvoyage-1470405.jpg) no-repeat center/cover;
}